doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Gulp Pug Swiper
    link(rel="stylesheet", type='text/css' href="css/style.min.css")
  body
    block header
    block main
    block footer
    script(src="js/main.min.js")